<div class="pagetitle">
  <h1>Съобщения</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/']">Начало</a></li>
      <li class="breadcrumb-item active">Съобщения</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<section class="section">
  <div class="row align-items-top">
    <div class="col-lg-12">
      <div class="card card-unread">
        <div class="card-body">
          <h5 class="card-title text-primary-color">Игрите подходящи ли са за рожден ден?</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            <i class="bi bi-person"></i> Мария Иванова
            <i class="bi bi-envelope email-icon"></i> maria.ivanova&#64;gmail.com
            <i class="bi bi-calendar email-icon"></i> 14. 08. 2024 г.
            <i class="bi bi-clock email-icon"></i> 12:34
          </h6>
          <p class="card-text text-primary-color">Интересувам се дали игрите, които организирате са подходящи за детски рожден ден.</p>
          <a class="card-link"><i class="bi bi-check-square"></i> Маркирай като прочетено</a>
        </div>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-primary-color">Игрите подходящи ли са за рожден ден?</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            <i class="bi bi-person"></i> Мария Иванова
            <i class="bi bi-envelope email-icon"></i> maria.ivanova&#64;gmail.com
            <i class="bi bi-calendar email-icon"></i> 14. 08. 2024 г.
            <i class="bi bi-clock email-icon"></i> 12:34
          </h6>
          <p class="card-text text-primary-color">Интересувам се дали игрите, които организирате са подходящи за детски рожден ден.</p>
        </div>
      </div>
    </div>
  </div>
</section>
