<main class="cover-photo">
  <div class="container">
    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
            <div class="card mb-3">
              <div class="card-body">
                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4 text-primary-color">Влезте в профила си</h5>
                  <p class="text-center small text-secondary-color">Въведете имейл и парола, за да продължите</p>
                </div>

                <form class="row g-3"  [formGroup]="loginForm" (ngSubmit)="login()">
                  <div class="col-12">
                    <label for="email" class="form-label text-primary-color">Имейл</label>
                    <input type="email" name="email" class="form-control" [ngClass]="{'form-control-error': email?.invalid && email?.touched}" id="email" placeholder="example@email.com" formControlName="email">
                    <div class="form-validation-error" *ngIf="email?.touched && email?.errors?.['required']">Полето е задължително.</div>
                    <div class="form-validation-error" *ngIf="email?.touched && email?.errors?.['email']">Въведете валиден имейл.</div>
                  </div>

                  <div class="col-12">
                    <label for="password" class="form-label text-primary-color">Парола</label>
                    <input type="password" name="password" class="form-control" [ngClass]="{'form-control-error': password?.invalid && password?.touched}" id="password" placeholder="********" formControlName="password">
                    <div class="form-validation-error" *ngIf="password?.touched && password?.errors?.['required']">Полето е задължително.</div>
                  </div>

                  <div class="col-12">
                    <button class="btn btn-success w-100" type="submit">Влезте</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
